{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

<h1 class="title" >this is comments list page.</h1>

<h3>{% csrf_token %}</h3>
<h4>=====================</h4>

<img class="avatar" src="{% static 'avatar.jpg' %}" >

2 <br>

<img class="avatar" src="{% static 'icon.jpg' %}" >

<br >

<form action="/comments/" method="post">
    {% csrf_token %}<br>
    {{ form.quote_id.label}}<br>
    {{ form.quote_id}}{{ form.quote_id.errors}}<br><br>
    {{ form.content.label}}<br>{{ form.content}}{{ form.content.errors}}<br><br>
    <input type="submit" value="add comment" />
</form>

<hr><hr><hr>
<h4>=====================</h4>
{% for comment in comments%}
    <div class="comment_block">
    <p class="comment" id="comment_{{comment.id}}">{{comment.id}}: {{ comment.content}} <a href="#comment_{{comment.id}}">¶</a></p>
    <hr>
    <br>
    </div>
{% endfor %}

</body>
</html>
