{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tinymce.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

<h1 class="title" >this is comments list page.</h1>

<h3>{% csrf_token %}</h3>
<div id='xmlhq'>
    <div id='s_content'></div>
    <br>

    <br>
    <button id='get_s_content'>Get them!</button> <span id='loading' style="display:None">Iam loading......</span>
</div>

<form id='comment_form' action="/comments/" method="post">
    <input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' /><br>
    QuoteID:<br>
    <input id="id_quote_id" name="quote_id" type="text" />{{ form.quote_id.errors}}<br><br>
    Content:<br>
    <textarea cols="40" id="id_content" name="content" rows="10"></textarea>
    {{ form.content.errors}}<br><br>
    <input id='submit' type="submit" value="add comment" />
</form>

<iframe id="form_target" name="form_target" style="display:none"></iframe>
<form id="my_form" action="/img_upload/"
    target="form_target" method="post" enctype="multipart/form-data"
    style="width:0px;height:0;overflow:hidden">
<input type='hidden' name='csrfmiddlewaretoken' value='{{csrf_token}}' />
<input id="id_img" name="img" type="file" onchange="$('#my_form').submit();this.value='';">
</form>

<br><br>
{% comment %}
<form id='img_form' action="/img_upload/" method="post" enctype="multipart/form-data">
{% csrf_token %}
<input id="id_img" name="img" type="file">{{ img_form.img.errors }}<br><br><br>
<input id='submit' type="submit" value="upload some thins!" />
</form>
{% endcomment %}

<br >
<hr><hr><hr>
{% for img_path in img_paths %}
    <img src="/media/{{img_path.img}}" width="100" />......
{% endfor %}


<h4>=====================</h4>

<a href="www.163.com"><img class="avatar" src="{% static 'avatar.jpg' %}" ></a>

<br>2<br>

<a href="#"><img class="avatar" src="{% static 'icon.jpg' %}" ></a>


<h4>=====================</h4>
{% for comment in comments%}
    <div class="comment_block">
    <p class="comment" id="comment_{{comment.id}}">{{comment.id}}: {{ comment.content|safe }} <a href="#comment_{{comment.id}}">¶</a></p>
    <hr>
    <br>
    </div>
{% endfor %}

</body>
</html>
